.canvasAreaContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.canvasArea {
    background-color: ghostwhite;
    margin: auto;
    margin-bottom: 0.5%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
}

.canvasToolbox {
    margin: auto;
    margin-top: 0.5%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    height: 7%;
}

.toolButtonGroup {
    height: 80%;
}

.toolButton {
    height: 100%;
}

.dimButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}
