.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header textarea{
    height: 220px;
    width: 342px; 
}

.App-body {
    background-color: #282c34;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.draggable_content {
    display: inline-block;
    user-select: none;
    align-content: center;
}

.remove_button {
    width: 100%;
    height: 1rem;
    border: 0.2rem solid lightslategray;
    border-top: 0.4rem;
    display: block;
    border-radius: 10%;
    background-color: lightslategray;
    align-content: center;
    font-size: 1rem;
    color: whitesmoke;
    text-align: center;
    opacity: 0.0;;
}
