.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header textarea{
  height: 220px;
  width: 342px; 
}

.App-body {
  background-color: #282c34;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.draggable {
  /* just to size it to content */
  display: inline-block;
  /* opaque background is important for performance */
  background: white;
  /* avoid selecting text while dragging */
  user-select: none;
}