.App {
    text-align: center;
    overflow: hidden;
}

.AppBody {
    background-color: #282c34;
    height: 96vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftContainer {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightContainer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.galleryContainer {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
