.App {
    text-align: center;
    overflow: hidden;
}

.ViewBody {
    height: 70%;
    width: 70%;
    margin-left: 2%;
    margin-top: 3%;
}

.AppBody {
    background-color: #000000;
    height: 94vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftContainer {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 0;
}

.middleContainer {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightContainer {
    width: 0%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pickerContainer {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.infographicContainer {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}
