.App {
    text-align: center;
    overflow: hidden;
}

.ViewBody {
    height: 70%;
    width: 70%;
    margin-left: 2%;
    margin-top: 3%;
}

.AppBody {
    background-color: #282c34;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftContainer {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middleContainer {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightContainer {
    width: 0%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.galleryContainer {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
