.draggable_content {
    position: 'absolute';
    touch-action: 'none';
    padding: 0.4rem;
}

.draggable_content:active {
    cursor: move;
}

.draggable_content:hover > .remove_button {
    opacity: 1;
}

.draggable_content:active > .remove_button {
    opacity: 0;
}

.draggable_content:hover .draggable_text_container {
    border: 1px dashed white;
}
