.textContainer {
    margin: 0;
    margin-top: 2px;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 11;
}

.textContent {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.2rem;
    text-align: left;
    vertical-align: top;
}

.textSizeChangeContainer {
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.textSizeDisplay {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 23px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    font-size: 12px;
}
