.draggableContent {
    position: 'absolute';
    touch-action: 'none';
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    cursor: default;
    z-index: 1;
}

.draggableContent:active {
    cursor: move;
    z-index: 10
}

.removeButton {
    padding-bottom: 0.2rem;
    font-size: 1rem;
    color: red;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}

.removeButton:active {
    color: darkred;
    opacity: 1 !important;
}
