.textInputContainer {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.inputForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.inputArea {
    height: 100%;
    width: 100%;
    border: 2px solid #152028;
    background-color: #121212;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    overflow: scroll;
    scroll-behavior: auto;
    margin: 0;
}

.previewArea {
    height: 100%;
    width: 100%;
    padding: 2px;
    border: 2px solid #152028;
    text-align: left;
    background-color: #121212;
    color: whitesmoke;
    overflow: scroll;
    scroll-behavior: auto;
    display: flex;
    flex-direction: column;
}

.previewSwitch {
    display: flex;
    flex-direction: row;
}
