.sizeButton {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 23px;
    height: 23px;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    font-size: 12px;
    cursor: pointer;
}
